<header class="bg-white shadow p-4 flex justify-between items-center">
    <h1 class="text-xl font-bold text-gray-800">Dashboard - Categories</h1>
    <div>
        <a href="/auth/logout"
            class="bg-red-600 text-white px-2 py-1 text-xs rounded">Logout</a>
    </div>
</header>