<%- include('includes/head', { title: pageTitle }) %>

<div class="fixed inset-0 bg-gray-100 flex items-center justify-center z-50" id="error404Page">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-sm text-center">
        <h1 class="text-4xl font-bold mb-4 text-red-600">500</h1>
        <h2 class="text-xl font-semibold mb-6">Erreur!!</h2>
        <p class="mb-6 text-gray-700"><%= message %></p>
        <a href="/"
            class="inline-block bg-blue-600 text-white px-6 py-2 rounded text-sm hover:bg-blue-700 transition">
            Retour à l’accueil
        </a>
    </div>
</div>

<%- include('includes/end.ejs') %>